@using DiarioMedico.Services
@using DiarioMedico.Models 

@namespace DiarioMedico.Components.Pages
@page "/citas"
@inject CitaService CitaService
@inject NavigationManager NavigationManager

  
<PageTitle>Citas</PageTitle>
<h3>Cita</h3>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Doctor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in citas)
        {
            <tr>
                <td>@cita.Fecha</td>
                <td>@cita.Hora</td>
                <td>@cita.NombredeCliente</td>
                <td>@cita.Doctor?.Nombre</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => EditarCita(cita.Id)">Editar</button>
                    <button class="btn btn-danger" @onclick="() => EliminarCita(cita.Id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Cita> citas = new List<Cita>();

    protected override async Task OnInitializedAsync()
    {
        citas = await CitaService.GetCitasAsync();
    }

    private async Task EliminarCita(int id)
    {
        await CitaService.DeleteCitaAsync(id);
        citas = await CitaService.GetCitasAsync();
    }

    private void EditarCita(int id)
    {
        NavigationManager.NavigateTo($"/editar-cita/{id}");
    }
}
